name: Production Build
on:
  push:
    branches:
      - master
jobs:
  test_and_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Yarn install, test and build
        run: |
          yarn install
          yarn test
          yarn build
      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with: 
          name: build
          path: build
          retention-days: 1
    
  deploy:
    if: github.ref == 'refs/heads/master'
    needs: test_and_build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Download build artifact
        uses: actions/download-artifact@v2
        with:
          name: build
          path: build
      - name: Deploy to firebase hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: >-
            ${{ secrets.FIREBASE_SERVICE_ACCOUNT_QUALITY_DASHBOARD_PRODUC_D32A1
            }}
          channelId: live
          projectId: quality-dashboard-produc-d32a1